<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <img src="./assets/logo.png">

      <span>Guilherme</span>

      <ion-button (click)="toggleBlocks()" color="light" fill="clear" size="small">
        <ion-icon slot="icon-only" [name]="initialStep > 0 ? 'arrow-up-outline' : 'arrow-down-outline'"></ion-icon>
      </ion-button>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="primary" [scrollY]="!swiping">

  <div #background class="background opacity-transition">
    <div class="bank-information ion-text-center">
      <img class="qrcode" src="./assets/qrcode.png" alt="">

      <span>Banco <strong>000 - Nu Pagamentos S.A</strong></span>
      <span>Agência <strong>0000</strong></span>
      <span>Conta <strong>0000000-0</strong></span>

      <ion-list lines="full">
        <ion-item *ngFor="let item of items" detail>
          <ion-icon slot="start" [name]="item.icon"></ion-icon>

          <ion-label>{{item.text}}</ion-label>
        </ion-item>
      </ion-list>

      <ion-button class="logout" color="light" expand="block" fill="outline">
        <strong>SAIR DA CONTA</strong>
      </ion-button>
    </div>
  </div>

  <div #blocks class="blocks" [ngClass]="fixedBlocks() ? 'fixed' : null">
    <ion-card>

      <ion-item #swipeDown class="ion-margin-vertical" lines="none">
        <ion-icon slot="start" name="card-outline"></ion-icon>
        <ion-label>Cartão de crédito</ion-label>
      </ion-item>

      <ion-card-content class="ion-no-padding">

        <div class="ion-padding ion-margin-vertical cash">
          <span class="blue">Fatura atual</span>
          <span class="blue value">R$ 75,55</span>
          <span>Limite disponível <span class="green">R$ 2942,45</span></span>
        </div>

        <div class="ion-padding-vertical footer">
          <ion-item color="light" lines="none" detail>
            <ion-icon slot="start" name="pizza-outline"></ion-icon>
            <ion-label class="ion-text-wrap">Compra mais recente em ifood *iFood no valor de R$ 54,00</ion-label>
          </ion-item>
        </div>

      </ion-card-content>

    </ion-card>

    <ion-card>

      <ion-item class="ion-margin-vertical" lines="none">
        <ion-icon slot="start" name="cash-outline"></ion-icon>
        <ion-label>Conta</ion-label>
        <ion-button color="dark" fill="clear" slot="end">
          <ion-icon slot="icon-only" name="eye-off-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-card-content class="ion-no-padding">

        <div class="ion-padding ion-margin-vertical cash">
          <span class="blue">Saldo disponível</span>
          <ion-text color="dark">
            <span class="value">R$ 191,51</span>
          </ion-text>
        </div>

        <div class="ion-padding-vertical footer">
          <ion-item color="light" lines="none" detail>
            <ion-icon slot="start" name="barcode-outline"></ion-icon>
            <ion-label class="ion-text-wrap">Boleto de R$ 322,55 pago na segunda</ion-label>
          </ion-item>
        </div>

      </ion-card-content>

    </ion-card>

    <ion-card>

      <ion-card-content class="ion-text-center">
        <ion-icon class="gift" name="gift-outline"></ion-icon>

        <div class="ion-margin-vertical">
          <ion-text color="dark">
            <p class="title">
              <strong>Nubank Rewards</strong>
            </p>

            <p>Acumle pontos que nunca expiram e troque por passagens aéreas ou serviços que você realmente usa.</p>
          </ion-text>
        </div>

        <ion-button expand="block" fill="outline">
          <strong>ATIVE O SEU REWARDS</strong>
        </ion-button>
      </ion-card-content>

    </ion-card>
  </div>

</ion-content>

<ion-footer [ngClass]="fixedBlocks() ? 'hidden' : 'null'" class="ion-no-border">
  <ion-toolbar class="ion-no-margin ion-padding-vertical" color="primary">

    <ion-slides class="opacity-transition" [options]="slideOptions">

      <ion-slide *ngFor="let option of options">

        <div class="container ion-text-left">

          <ion-icon [name]="option.icon"></ion-icon>

          <span>{{option.text}}</span>

        </div>

      </ion-slide>

    </ion-slides>

  </ion-toolbar>
</ion-footer>